body{
    background-color: #0a4204;
}

.fibramaster{
    width: 100%;
    border-radius: 50px;
}


@media screen and (min-width: 1024px){
    .fibramaster{
        width: 50%;
    }

}



@media screen and (min-width: 1700px){

}

