body{
    background-color: #ffffff;
}

.fibramaster{
    width: 100%;
    border-radius: 50px;
   caption-side: bottom;
    
}


@media screen and (min-width: 1024px){
    .fibramaster{
        width: 50%;
    }

}



@media screen and (min-width: 1700px){

}

