body{
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #ffffff;
}

.fibramaster{
    width: 100%;
    border-radius: 50px;
    
}

.nome{
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

@media screen and (min-width: 1024px){
    .fibramaster{
        width: 36%;
    }

}



@media screen and (min-width: 1700px){

}

